# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.ipynb_checkpoints/

# Node
node_modules/
package-lock.json

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Vercel
.vercel/

# Логи, temp
*.log
*.tmp

.vercel
